# AI generated data
backend/data/raw/*.jsonl
backend/data/processed/*.npy
backend/data/processed/*.csv
backend/cache/*.index

# ML Models
*.pkl
*.joblib

# ====================
# Python
# ====================

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/

.env


# ====================
# Node / React
# ====================

node_modules/
dist/
build/


# ====================
# VS Code
# ====================

.vscode/


# ====================
# AI / ML Cache
# ====================

.cache/
*.pkl
*.joblib

models/cache/

*.bin


# HuggingFace
.huggingface/
sentence_transformers/


# ====================
# Logs
# ====================

*.log


# ====================
# OS
# ====================

.DS_Store
Thumbs.db